body{
	background-color: #585858;
}

.cabecera{
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	background-color: black;
}

#logo{
	margin-left: 60px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#iconos{
	margin-top: 0px;
	margin-left: 50em;
	color:white;
}

.cuerpo{
	font-family:verdana;
}

#enlaces table{
	margin-top: 20px;
	margin-left: 145px;
}

#enlaces td {
	border:hidden;
}

col{
	border-top: 20 px;
}

.imagenes{
	margin-top: 3em;
	margin-left: 13em;
}

.botones{
	margin-left:20em;
}

#colores{
	color:white;
	margin-left:74em;
}

#azul{
	width: 25px;
    height: 25px;
	margin-left:90em;
}

#verde{
	width: 25px;
    height: 25px;
	background-image: url(images/009944.jpg);
	background-repeat: no-repeat;
}

#naranja{
	width: 25px;
    height: 25px;
	background-repeat: no-repeat;
}

#gris{
	width: 25px;
    height: 25px;
	background-repeat: no-repeat;
}

button{
	width: 25px;
    height: 25px;
}

#redes{
	margin-left: 33em;
	margin-top: 20px;
}

.formulario{
	margin-top: 50px;
	margin-left: 30px;
}

#contacto1,#contacto2{
	margin-left: 50px;
}

#login{
	margin-top: 50px;
	margin-left:350px;
}

#registro{
	margin-top: 50px;
	margin-left:350px;
}

#mapa{
	padding:4px;
	width:640px;
	height:480px;
	border-width: 20px;
	border-style: inset;
	border-color: #848484;
	margin-top: 50px;
	margin-left: 300px;
}

#1{
	padding:4px;
}

#tablaAct{
	margin-top:60px;
	margin-left: 145px;
	width:75%;
	padding:20;
	border-collapse:collapse;
	border: 3px solid black;
	background-color:#6E6E6E;
}

#tablaAct td, th{
	border: 1px solid black;
}

#tablaAct td:nth-of-type(even){
	background-color: pink;
}

#tablaAct td:nth-of-type(odd){
	background-color: #A9E2F3;
}

#redes table:hover{
	-webkit-transform: rotate(720deg);
	-webkit-transition: all 0.3s ease-out;
	
	-moz-transform: rotate(720deg);
	-moz-transition: all 0.3s ease-out;
}

#video{
	margin-left:-30px;
	margin-bottom:5px;
}

#enlaces a:link{
	color: white
}    

#enlaces a:hover{ 
	background: gray; 
	color: white; 
}

#enlaces a:visited{
	color:white;
}

@media print{
	a:after{
		content:"(" attr[href] ")";
	}
}
